@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>@ViewData["Message"]</h3>

<p>Nome: @ViewData["Name"]<p>


<address>
        <strong>More information: </strong> <a href="https://www.linkedin.com/in/leo-a-oliveira/">Linkedin.com</a>
</address>
